@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
:root {
  --layer-one: #f7f0f0;
  --secondary-color: #62b62c;
  --third-color: #ff995a;
  --orange: #f15f37;
  --header-color: #232229;
  --green: #4d966d;
  --font-family-style: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

hr {
  opacity: 0.1;
  border-bottom: 1px solid var(--active-input);
}

code {
  font-family: var(--font-family-style);
}

body {
  margin: 0;
  font-family: var(--font-family-style);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: #fef2f2;
}

h1 {
  color: var(--table-font-color);
}
